body {
  background: red;
}

h1 {
  background: pink;
  color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: green;
}

div {
  width: 400px;
}
table {
  background: orange;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: aqua;
  border-collapse: collapse;
}
tr {
  border: solid 2px silver;
}
td {
  border-width: 2px;
  border-style: solid;
  border-color: purple;
}
td{
  border: solid 2px silver;
}
